<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping list</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li><a routerLink="/signup">Register</a></li>
                    <li><a routerLink="/signin">Signin</a></li>
                </ng-template>
                <ng-template [ngIf]="authService.isAuthenticated()">
                    <li><a  style="cursor: pointer;" (click)="onLogout()">Logout</a></li>
                    <li class="dropdown" appDropdown>
                        <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Manage <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a style="cursor: pointer;" (click)="onSave()">Save Data</a></li>
                            <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                        </ul>
                    </li>
                </ng-template>
            </ul>
        </div>
    </div>
</nav>