<div class="row">
    <div class="div col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSignIn(f)" #f="ngForm">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" id="email" class="form-control" ngModel required minlength="3">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" ngModel required minlength="6">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Sign In</button>
      </form>
    </div>
  </div>
  